{clean_files, ["*.eunit", "ebin/*.beam"]}.
{erl_opts, [hipe, {i, "inc"}, {parse_transform, lager_transform}]}.
{sub_dirs, ["rel"]}.
{deps, [
	% lager has to come first so its parse transform is available.
	{lager,        ".*", {git, "git://github.com/basho/lager", {branch, "master"}}},
	{poolboy,      ".*", {git, "git://github.com/devinus/poolboy.git", "master"}},
	{jiffy,        ".*", {git, "git://github.com/davisp/jiffy.git", "master"}},
	{cowboy,       ".*", {git, "https://github.com/extend/cowboy.git", {branch, "master"}}},
	{snappy,       ".*", {git, "https://github.com/fdmanana/snappy-erlang-nif.git"}},
	{eleveldb,     ".*", {git, "https://github.com/basho/eleveldb.git", {branch, "develop"}}},
	{node_package, "1.3.8", {git, "git@github.com:basho/node_package.git", {tag, "1.3.8"}}},
	{cuttlefish,   ".*", {git, "git://github.com/basho/cuttlefish.git", {branch, "develop"}}},
	{erlydtl,      ".*", {git, "https://github.com/erlydtl/erlydtl.git", "master"}}
]}.
