%% -*- mode: erlang -*-
%% ex: ft=erlang
{sys, [
       {lib_dirs, ["../deps/"]},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "plywood", "1",
        [
         kernel,
         stdlib,
         sasl,
         lager,
         cowboy,
         plywood
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "plywood"},
       {profile, embedded},
       {incl_cond, derived},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/(?!start_clean.boot)",
                           "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},
       {app, plywood, [{mod_cond, app}, {incl_cond, include}, {lib_dir, "../"}]}
      ]}.

{target_dir, "plywood"}.

{overlay_vars, "vars.config"}.

{overlay, [
           %% Setup basic dirs
           {mkdir, "log"},
           {mkdir, "etc"},
           {mkdir, "data/plywood"},
           {mkdir, "log/sasl"},

           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "releases/\{\{rel_vsn\}\}/nodetool"},
           {copy, "plywood/bin/start_clean.boot",
                  "\{\{erts_vsn\}\}/bin/start_clean.boot"},
           {copy, "files/plywood", "bin/plywood"},
           {copy, "files/plywood.cmd", "bin/plywood.cmd"},
           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
           {copy, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
           {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"},

           %% Scan for scripts in included apps
           %% Copy base files for starting and interacting w/ node
           {copy, "../deps/node_package/priv/base/erl",
            "{{erts_vsn}}/bin/erl"},
           {copy, "../deps/node_package/priv/base/nodetool",
            "{{erts_vsn}}/bin/nodetool"},
           {template, "../deps/node_package/priv/base/runner",
            "bin/plywood"},
           {template, "../deps/node_package/priv/base/env.sh",
            "lib/env.sh"},

           %% Copy config files
           {template, "files/app.config", "etc/app.config"},
           {template, "files/vm.args", "etc/vm.args"}
          ]}.
